extends layout

block content 

  head 
    title= 'Page Not Found'
    link(rel="stylesheet" href="../public/stylesheets/style.css")
    
  Body 
    h1 'Page Not Found'
    p Sorry! Page not found.
        